.post-container {
  background-color: #eee;
  margin-bottom: 2px;
  padding: 5px;
  overflow-wrap: break-word;
  margin-top: 5px;
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 300px;
}

span.highlight {
  background-color: rgb(255, 255, 0);
}
.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}
